<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{{title}}</title>

        <!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous"-->

        <style type="text/css">

/* CLIENT-SPECIFIC STYLES */
body,
table,
td,
a {
    font-family: 'DejaVu Sans', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #363636;
    background-color: #FCFCFC;
}

    a {
        color: #DC1E21;
        text-decoration: none; }
    table,
    td {
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
    }

    img {
        -ms-interpolation-mode: bicubic;
    }

    /* RESET STYLES */
    img {
        border: 0;
        outline: none;
        text-decoration: none;
    }

    img {
        width: 100%;
        height: auto;
    }
    table {
        border-collapse: collapse !important;
    }

    body {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        font-family: 'Average Sans', sans-serif;
        font-size: 14px;
    }

    pre {
        padding: 16px;
        font-size: 85%;
        line-height: 1.45;
        border-radius: 3px;
    }

    code {
        font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 85%;
        margin: 0;
        padding: 0.2em 0;
        border-radius: 3px;
    }

    blockquote {
        padding: 0 1em;
        color: #6a737d;
        border-left: 0.25em solid #dfe2e5;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }

    h1 a, h2 a, h3 a, h4 a {
        color: #363636;
    }

    h1, h2, h3, h4 {
        /*font-weight: 500;*/
        margin: 0;
    }

    h2 {
        font-size: 1.75rem;
        line-height: 1.15;
    }

    h1 {
        font-size: 200%;
    }

    h2 {

        font-size: 125%;
    }

    h3, h4 {

        font-size: 115%;
    }


    .lead {
        font-size: 16px;
        font-weight: 300;
        margin: 0;
    }

    /* iOS BLUE LINKS */
    /*a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
    }*/

    li {
        font-size: 100%;
    }

    /* ANDROID CENTER FIX */
    div[style*="margin: 16px 0;"] {
        margin: 0 !important;
    }
    blockquote{
        margin-left: 0;
        margin-right: 0;
    }
        </style>
    </head>

    <body style="margin:0; padding:0; background-color:#F2F2F2;">
        <center>

            <div style="background-color:#F2F2F2; max-width: 640px; margin: auto;">
                <!--[if mso]>
                    <table role="presentation" width="640" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tr>
                    <td>
                <![endif]-->

                <table width="640" cellspacing="0" cellpadding="0" border="0" align="center" style="max-width:640px; width:100%;"
                                                                                             bgcolor="#FFFFFF">
                    <tr>
                        <td align="center" valign="top" style="padding:10px;">

                            <table width="600" cellspacing="0" cellpadding="0" border="0" align="center"
                                                                                          style="max-width:600px; width:100%;">
                                <tr bgcolor="#eee">
                                    <td align="center" valign="top" style="padding:10px;">
                                        <a href="https://libreadvice.org">
                                            <img src="https://inknos.gitlab.io/libreadvice_newsletter/img/logo50.png" alt="Newsletter di Libreadvice">
                                        </a>
                                        <p class="lead">Guide, articoli e pillole di tecnologia</p>
                                    </td>
                                </tr>

                                <tr>
                                    <td align="left" valign="top" style="padding:10px;">
                                        {{email_content}}
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="padding:10px;">

                            <table width="600" cellspacing="0" cellpadding="0" border="0" align="center"
                                                                                          style="max-width:600px; width:100%;">
                                <tr>
                                    <td align="center" valign="top" style="padding:10px;">
                                        <a href="https://mastodon.uno/@libreadvice">Mastodon</a>
                                    </td,>
                                    <td align="center" valign="top" style="padding:10px;">
                                        <a href="https://t.me/libreadvice_it">Telegram</a>
                                    </td>
                                    <td align="center" valign="top" style="padding:10px;">
                                        <a href="https://matrix.to/#/#libreadvice:mozilla.org">Matrix</a>
                                    </td>
                                    <td align="center" valign="top" style="padding:10px;">
                                        <a href="irc://irc.freenode.net/#libreadvice">IRC</a>
                                    </td>
                                    <td align="center" valign="top" style="padding:10px;">
                                        <a href="https://twitter.com/libreadvice">Twitter</a>
                                    </td>
                                    <td align="center" valign="top" style="padding:10px;">
                                        <a href="https://libreadvice.org/rss">RSS</a>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>

                <!--[if mso]>
                    </td>
                    </tr>
                    </table>
                <![endif]-->
            </div>
            <p
                style="border-top: 1px solid #c6c6c6; color: #a9a9a9; margin-top: 50px; padding-top: 20px;font-size:13px; margin-bottom: 13px;">
            Hai ricevuto questa mail perché sei iscritto alla nostra newsletter. Per annullare o modificare l'iscrizione, <a href="https://libreadvice.org/contattaci">contattaci</a>.
            <br>
            Se non resci a visualizzare questa mail puoi puoi vederla  inseieme a tutto lo storico <a href="https://inknos.gitlab.io/libreadvice_newsletter">nell'archivio completo delle newsletter</a>.
            <p/>
            {% raw %}
            {% endraw %}
        </center>
    </body>

</html>
